@CHARSET "UTF-8";

html{
	position:relative;
	min-height:100%;
}

.container{
    /*保证footer是相对于container位置绝对定位*/
    position: relative;
    width: 100%;
    min-height: 100%;
    /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/
    padding-bottom: 100px;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.header a{
    /*取消下划线*/
    text-decoration: none;
    color: #6464547;
}

.navbar-right{
    padding-right: 10px;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.form-inline{
    margin: 10px 0;
}